@font-face {
  font-family: 'remixicon';
  src: url('/assets/fonts/remixicons/remixicon.eot?t=1590207869815');
  src: url('/assets/fonts/remixicons/remixicon.eot?t=1590207869815#iefix') format('embedded-opentype'),
  url('/assets/fonts/remixicons/remixicon.woff2?t=1590207869815') format("woff2"),
  url('/assets/fonts/remixicons/remixicon.woff?t=1590207869815') format("woff"),
  url('/assets/fonts/remixicons/remixicon.ttf?t=1590207869815') format("truetype"),
  url('/assets/fonts/remixicons/remixicon.ttf?t=1590207869815#remixicon') format("svg");
  font-display: swap;
}
